@import url('https://assets.uiowa.edu/css/gotham.css');
@import url('https://assets.uiowa.edu/css/whitney.css');
$sans: 'Gotham A', 'Gotham B', 'Gotham', 'Helvetica Neue', 'Arial', sans-serif;
$sans-narrow: 'Gotham Narrow A', 'Gotham Narrow B', 'Gotham narrow', 'Helvetica Neue', 'Arial', sans-serif;
$serif: 'Georgia', serif;
$display: 'Georgia', serif;
// $serif: 'Libre Baskerville', serif;
$breakpoints: (phone: 375px, tablet: 768px, desktop: 1024px, large: 1680px);