@charset "UTF-8";
@import url("https://assets.uiowa.edu/css/gotham.css");
@import url("https://assets.uiowa.edu/css/whitney.css");
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
}

.section {
  margin-top: 2em;
}

a.anchor {
  display: block;
  position: relative;
  top: 0;
}
a.anchor[name=director-message] {
  top: -2.5em;
}

.open-modal {
  cursor: pointer;
}

nav {
  background-color: #fff;
  border-bottom: 2px solid #FFCD00;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  z-index: 1;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Gotham A", "Gotham B", "Gotham", "Helvetica Neue", "Arial", sans-serif;
  position: relative;
}
nav ul li {
  margin: 0;
}
nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 3em;
  color: #000;
}
nav ul hr {
  height: 0.125rem;
  margin: 0;
  background: #FFCD00;
  border: none;
  transition: 0.3s ease-in-out;
  position: absolute;
  left: -175%;
  bottom: 15%;
}

.about picture, .about picture img {
  display: block;
  margin: 0 auto;
}

.program {
  padding-bottom: 2em;
}
.program .inner {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  padding-top: 1.5em;
}
.program .programname, .program .snippet, .program .feature, .program .about .text {
  padding: 1.5em 1.5em;
}
.program .snippet {
  background-color: #ffec9e;
}
.program .snippet h4 {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.program .snippet p {
  padding: 0;
}
.program .snippet.dan-director {
  grid-row: 3;
}

.question-answer .question {
  font-style: italic;
}

article.feature {
  background-color: #D8D8D8;
}
article h4 {
  padding: 0.5em 0 0.75em 0;
}
article picture {
  margin: 0 auto 1.5em auto;
  display: block;
}
article picture img {
  display: block;
  margin: 0 auto;
}
article .right {
  display: flex;
  justify-content: flex-end;
}
article .continue {
  font-family: "Gotham Narrow A", "Gotham Narrow B", "Gotham narrow", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 3Ѐ;
  padding: 0.5em;
  font-size: 1.2em;
}

h2 {
  background-color: #FFCD00;
  text-align: center;
  padding: 0.5em 0;
}

.modal {
  display: grid;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal .modal-inner {
  padding: 0 1.5em;
  margin: 2em auto;
  position: relative;
}
.modal .modal-inner h4 {
  padding: 0.5em 0 1.5em 0;
}
.modal .close {
  background-color: #fff;
  padding: 0.25em 1em;
  font-weight: 300;
  border-bottom: 1px solid #000;
  cursor: pointer;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}
.modal .close .times {
  font-size: 2em;
  vertical-align: middle;
  margin-right: 0.1em;
}
.modal .close .text {
  vertical-align: middle;
}

.research.section .inner, .education.section .inner, .engagement.section .inner {
  margin-top: 3em;
}
.research.section .about .text, .research.section article, .research.section aside, .education.section .about .text, .education.section article, .education.section aside, .engagement.section .about .text, .engagement.section article, .engagement.section aside {
  padding: 1.5em;
}
.research.section .intro, .education.section .intro, .engagement.section .intro {
  padding: 0 1.5em 1.5em 1.5em;
}

.hero {
  background: linear-gradient(rgba(216, 216, 216, 0.8), rgba(216, 216, 216, 0.8)), url("../images/oldcap-small.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #D8D8D8;
  font-family: "Georgia", serif;
  font-size: 22vw;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.hero .title {
  min-width: 50%;
  margin: 0 auto;
}
.hero .title .width-limiter {
  max-width: 800px;
  margin: 0 auto;
}
.hero .year {
  font-size: 0.5em;
  text-align: right;
}

.director-message a {
  text-decoration: none;
  color: black;
}
.director-message h2 {
  background-color: white;
  font-family: "Georgia", serif;
  font-size: 1em;
  font-weight: 400;
}
.director-message .letter-button {
  font-family: "Georgia", serif;
  margin: 0 auto;
  padding: 0.75em;
  cursor: pointer;
  display: table;
}
.director-message .inner-container {
  margin-bottom: 1.5em;
}
.director-message .inner-container .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.director-message .inner-container .video-container iframe, .director-message .inner-container .video-container object, .director-message .inner-container .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.education .inner {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
}
.education .inner aside.interns {
  background-color: #D8D8D8;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-auto-flow: row;
}
.education .inner aside.interns .intro {
  padding: 0;
}
.education .inner aside.interns .inset {
  background-color: #fff;
  padding: 1.5em;
  margin-bottom: 0;
}

.engagement .inner {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
}
.engagement .inner aside.other-events {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-auto-flow: row;
  padding: 1.5em 0;
}
.engagement .inner aside.other-events h4 {
  padding: 0 1.5rem 0.5rem 1.5rem;
}
.engagement .inner aside.other-events .inset {
  background-color: #ffec9e;
  padding: 1.5em;
}
@media (max-width: 767px) {
  .engagement h2 {
    font-size: 2.65em;
  }
}

.impact .inner {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  padding: 1.5em;
}
.impact .inner ol {
  margin: 0;
}
.impact .inner .goals .subtitle {
  font-size: 1.35em;
  font-family: "Georgia", serif;
  text-align: center;
  margin: 1.5em 0 0 0;
}
.impact .inner .goals .goal {
  margin-top: 4em;
}
.impact .inner .goals .goal h3 {
  font-size: 1.8em;
  font-weight: 400;
  border-bottom: 2px solid #000;
}
.impact .inner .goals .goal p {
  margin: 1.25em 0 0 0;
}
.impact .inner .goals .goal .highlight {
  font-family: "Georgia", serif;
  text-align: center;
  display: inline-block;
  float: left;
  padding-right: 0.5em;
  font-size: 2em;
}
.impact .inner .goals .goal .highlight .number {
  font-weight: 600;
  color: #FFCD00;
  font-size: 2.5em;
}
.impact .inner .goals .goal .highlight.research .funding .number {
  font-size: 2em;
}
.impact .inner .goals .goal .highlight.research .pubs .number {
  font-size: 2.3em;
}
.impact .inner .goals .goal .highlight.research .pubs .label {
  font-size: 0.8em;
}
.impact .inner .goals .goal .highlight.students .label {
  font-size: 0.8em;
}

#publications .modal-inner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#publications #pubs-frame {
  flex-grow: 1;
  border: none;
}
#publications #pubs-frame .publication {
  font-family: "Georgia", serif;
  font-size: 19px;
  margin-bottom: 1.5em;
}
#publications #pubs-frame .publication .biblio-authors a {
  font-weight: 400;
}

@media (min-width: 376px) and (max-width: 767px) {
  .hero {
    font-size: 18vw;
  }
}
@media (min-width: 768px) {
  nav {
    padding: 0 15%;
  }
  nav ul li a {
    font-size: 0.9em;
  }
  nav ul hr {
    height: 0.25em;
  }

  article picture {
    float: left;
    margin: 0 2.5em 1.5em 0;
    max-width: 48%;
  }
  article picture.horizontal {
    max-width: 100%;
    margin: 0 auto 1.5em auto;
    float: none;
  }
  article picture.right-align {
    float: right;
    margin: 0 0 1.5em 2.5em;
  }

  .modal {
    font-size: 19px;
  }
  .modal .close {
    font-size: 1.25em;
    padding: 0.5em 1em;
  }
  .modal .modal-inner {
    padding: 1.5em 4em;
  }

  .hero {
    font-size: 17vmin;
    background: linear-gradient(rgba(216, 216, 216, 0.8), rgba(216, 216, 216, 0.8)), url("../images/oldcap-medium.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .director-message h2 {
    font-size: 1.7em;
  }

  .program .programname, .program .snippet, .program .feature, .program .about .text {
    padding: 1.5em 2.5em;
  }

  .impact .inner .goals .goal .highlight {
    font-size: 3em;
  }
}
@media (min-width: 1025px) {
  .section .inner {
    max-width: 80%;
    margin: 0 auto;
  }
  .section .inner .col-1 {
    grid-column: span 1;
  }
  .section .inner .col-2 {
    grid-column: span 2;
  }
  .section .inner .col-3 {
    grid-column: span 3;
  }
  .section .inner .col-4 {
    grid-column: span 4;
  }
  .section .inner .col-5 {
    grid-column: span 5;
  }
  .section .inner .col-6 {
    grid-column: span 6;
  }
  .section .inner .col-7 {
    grid-column: span 7;
  }
  .section .inner .col-8 {
    grid-column: span 8;
  }
  .section .inner .col-9 {
    grid-column: span 9;
  }
  .section .inner .col-10 {
    grid-column: span 10;
  }
  .section .inner .col-11 {
    grid-column: span 11;
  }
  .section .inner .col-12 {
    grid-column: span 12;
  }
  .section .inner .row-span-2 {
    grid-row: span 2;
  }

  .modal {
    grid-template-columns: 1fr 45em 1fr;
    grid-template-rows: 2;
  }
  .modal .modal-inner {
    padding: 1.5em;
    grid-column: 2;
    grid-row: 1/span 2;
  }
  .modal .modal-inner p {
    line-height: 2em;
  }
  .modal .close {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    border-bottom: none;
    font-size: 2em;
  }
  .modal .close.bottom {
    display: none !important;
  }

  a.anchor {
    top: -1.4em;
  }
  a.anchor[name=director-message] {
    top: -3.4em;
  }

  nav {
    font-size: 1.25em;
  }

  .research.section .about .text {
    padding: 1.5em 0;
  }

  .hero .report {
    text-align: center;
  }

  .director-message .inner-container {
    width: 65%;
    margin: 0 auto 1.5em auto;
  }
  .director-message .inner-container svg {
    width: 12em;
    height: 12em;
    bottom: 3em;
    right: 3em;
  }

  .impact .inner {
    grid-template-columns: 1fr 4fr 1fr;
  }
  .impact .inner .intro {
    grid-column: 2;
  }
  .impact .inner .goals {
    grid-column: 1/span 3;
  }
  .impact .inner .goals .goal {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1em;
  }
  .impact .inner .goals .goal h3 {
    grid-column: 1/span 7;
    grid-row: 1;
  }
  .impact .inner .goals .goal p {
    grid-column: 1/span 6;
  }
  .impact .inner .goals .goal.right h3 {
    grid-column: 1/span 7;
    grid-row: 1;
  }
  .impact .inner .goals .goal.right p {
    grid-column: 2/span 6;
  }
  .impact .inner .goals .goal .highlight {
    grid-column: 3;
    grid-row: 2/span 2;
    padding: 0;
  }
  .impact .inner .goals .goal .highlight.col-pos-seven {
    grid-column: 7;
  }
  .impact .inner .goals .goal .highlight.col-pos-one {
    grid-column: 1;
  }
  .impact .inner .goals .goal.text-width-five h3 {
    grid-column: 1/span 6;
    grid-row: 1;
  }
  .impact .inner .goals .goal.text-width-five p {
    grid-column: 1/span 5;
  }

  .program .inner, .education .inner, .engagement .inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }

  .program .programname {
    padding-bottom: 0;
    padding-left: 0;
  }
  .program .about .text {
    font-size: 1.1em;
    padding: 1.5em 0;
  }
  .program .snippet {
    padding: 1.5em;
  }

  .education .inner .about .text {
    font-size: 1.1em;
    padding: 1.5em 0;
  }
  .education .inner article {
    padding: 1.5em 2.5em;
  }
  .education .inner aside.outreach {
    background-color: #ffec9e;
  }

  .engagement .inner .about {
    grid-column: 1/span 4;
    grid-row: 1;
  }
  .engagement .inner .about .text {
    font-size: 1.1em;
    padding: 1.5em 0;
  }
  .engagement .inner article.china {
    grid-column: 5/span 8;
    grid-row: 1;
    padding: 1.5em 2.5em;
  }
  .engagement .inner article.politics {
    grid-column: 1/span 12;
    grid-row: 2;
  }
  .engagement .inner article.politics picture {
    max-width: 33%;
  }
  .engagement .inner aside.other-events {
    grid-column: 1/span 12;
    grid-row: 3;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
  }
  .engagement .inner aside.other-events h4 {
    grid-column: 1/span 12;
    grid-row: 1;
  }
  .engagement .inner aside.other-events .mcbride {
    grid-column: 1/span 3;
    grid-row: 2/span 2;
  }
  .engagement .inner aside.other-events .palca, .engagement .inner aside.other-events .daley {
    grid-column: 4/span 9;
  }
}
@media (min-width: 1681px) {
  .hero {
    background: linear-gradient(rgba(216, 216, 216, 0.8), rgba(216, 216, 216, 0.8)), url("../images/oldcap-large.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section .inner {
    width: 70%;
    margin: 0 auto;
  }

  .research.section .intro {
    column-count: 2;
    column-gap: 3em;
  }

  .education .inner aside.interns {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
  }
  .education .inner aside.interns .intro {
    grid-column: span 2;
    padding: 0;
  }
  .education .inner aside.interns .inset {
    grid-column: span 1;
  }
}

/*# sourceMappingURL=ar.css.map */
